{%load i18n%}
{%load settings%}
{%settings STATIC_URL%}
<!DOCTYPE html>
<html lang="{{LANGUAGE_CODE}}">
  <head>
    <meta charset="utf-8" />
    <meta property="og:title" content="{%block fbtitle%}{{flatpage.title}}{%endblock%}" />
    <meta property="og:type" content="{%block fbtype%}article{%endblock%}" />
    <meta property="og:image" content="http://lukasz.langa.pl{{STATIC_URL}}{%block fbimage%}img/recall-small.jpg{%endblock%}" />
    <meta property="og:url" content="http://lukasz.langa.pl{{PATH_INFO}}" />
    <meta property="og:site_name" content="lukasz.langa.pl" />
    <meta property="fb:admins" content="lukasz.langa">
    <meta name="google-site-verification" content="m8vwZ4Olrv8gnauNXBjFcW7nVwa3FtHNo-jgFDrcnH4" />
    {%block meta%}
    <meta property="og:description" content="A carefully crafted ambient soundscape that rewards attention but does not require it. Produced to let the listener focus on the task at hand, yet composed to work as a standalone piece of art, telling its story when you're ready to hear it." />
    <meta property="article:author" content="lukasz.langa">
    {%endblock%}
    <title>Łukasz Langa - Recall</title>
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/cssreset-min.css">
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/recall.css" />
    <link rel="canonical" href="http://lukasz.langa.pl{{PATH_INFO}}" />
    {%block links%}{%endblock%}
    <!--[if IE]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script src="//use.typekit.net/mrr2emb.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
  </head>
  <body id="{{page}}">
    <div id="container">
      <article>
        {{flatpage.content|safe}}
      </article>
    </div>
    <div id="footer">
      <div id="copyright">
        &copy; 2014 - 2015 Łukasz Langa
      </div>
      <div id="powered-by">
        Zero Division Records
      </div>
      <div id="facebook-love">
        <img style="display: none;" src="{{STATIC_URL}}img/recall-small.jpg">
      </div>
    </div>
    <div id="end-of-page">&nbsp;</div>
    {%block js%}{%endblock%}
    <!-- Start Google Analytics -->
    <script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
    try {
    var pageTracker = _gat._getTracker("UA-7774166-2");
    pageTracker._trackPageview();
    } catch(err) {}</script><!-- End Google Analytics -->
  </body>
</html>
<!--STATS-->
