{%extends 'base.html'%}
{%load i18n%}

{%block title%}{%trans '500: Something horrible happened'%}{%endblock%}

{%block custom-menu-entry%}<li>{%trans 'An error occured'%}{%endblock%}

{%block body%}
<h1>{%trans 'Error'%} 500</h1>
<h4>{%trans 'Something horrible happened.'%}</h4>
<p class="lead">{%trans 'The server failed to fulfill an apparently valid request.'%}</p>
<p>{%blocktrans%}
Response status codes beginning with the digit "5" indicate cases in which the server is aware that it has encountered an error or is otherwise incapable of performing the request. 
{%endblocktrans%}</p>
{%endblock%}
