// DECLARATIONS
$bright: #dddddd
$dim: #888888
$background: #444444
$almost-black: #222222
$delicate-violet: #330033
$delicate-blue: #111144
$delicate-red: #661111
$bright-blue: #475c79
$footnote: #666666

@mixin outside-the-box($overflow: hidden)
  position: relative
  overflow: $overflow
  margin-left: 48px
  margin-right: 48px

@mixin dotted-line
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAABCAYAAACsXeyTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAFUlEQVQIHWNIS0sr/v//PwMMDzY+ADqMahlW4J91AAAAAElFTkSuQmCC") repeat-x scroll left bottom transparent
  display: block
  
// TAGS

html
  background: $background url('/static/img/debut_dark.png')
  font-family: Palatino, Palatino Linotype, Georgia, serif
  font-size: 18px
  color: $almost-black

a
  color: $delicate-blue

a:visited
  color: $delicate-violet

h1
  font-size: 2em

h2
  margin-top: 1em
  font-size: 1.5em

h3
  margin-top: 1em
  font-weight: bold
  font-style: italic
  font-size: 1.2em

h4
  padding-top: 0.3em
  font-style: italic
  color: $dim

h2
  a
    text-decoration: none
    color: $almost-black
  a:visited
    color: $almost-black
  a:hover
    text-decoration: underline
    color: $delicate-blue

p
  margin-top: 1em
  text-align: justify

pre
  margin: 1em 0 0 1em

strong
  font-weight: bold

em
  font-style: italic

blockquote
  margin: 1em 0 0 2em

table.docutils
  margin: 1em 0 0 1em
  td.label
    padding-right: 1em

table.docutils.footnote
  color: $footnote

// ELEMENTS

#header
  @include outside-the-box
  font-size: 3em
  margin-top: 0.3em
  #title
    color: $bright
    float: left
    a
      color: $bright
      text-decoration: none
    a:hover
      color: $bright
      text-decoration: underline
  #slogan
    color: $dim
    font-style: italic
    float: right

#menu
  @include outside-the-box
  margin-top: 1em
  ul
    margin-left: 4px
    list-style-type: none
    font-family: Verdana, sans-serif
    font-size: 85%
    li
      color: $bright
      float: left
      display: block
      margin-right: 2em
      text-transform: uppercase
      a.button
        display: block
        overflow: hidden
        margin-bottom: 4px
    a
      color: $dim
      text-decoration: none
    a:hover
      color: $bright
      text-decoration: underline
  #flags
    margin-top: 4px
    margin-bottom: -4px
    float: right
    a
      img
        opacity: 0.5
        filter: alpha(opacity=50)
    a:hover
      img
        opacity: 1.0
        filter: alpha(opacity=100)

#container
  clear: both
  background: $bright url('/static/img/debut_light.png')
  margin: 1em 2em
  padding: 2em
  min-height: 5em
  border-radius: 14px
  -moz-border-radius: 14px
  -webkit-border-radius: 14px
  border: 0px
  line-height: 150%
  #lead p
    margin-right: 20%
    font-weight: bold
    text-align: left
  #next-prev
    clear: both
    margin-top: 1em
    overflow: hidden
    #prev-entry
      float: left
    #next-entry
      float: right
  ul
    list-style-position: outside
    list-style-type: disc
  img
    max-width: 100%
  pre.code.literal-block
    .keyword,
    .operator,
    .punctuation
      font-weight: bold

#footer
  @include outside-the-box(visible)
  color: $dim
  #copyright
    float: right
    text-align: right
  #powered-by
    float: left
  #other-portals
    background-color: $dim
    width: 144px
    min-height: 42px
    margin: 1em auto
    padding: 9px 18px 5px 20px 
    border-radius: 14px
    -moz-border-radius: 14px
    -webkit-border-radius: 14px
    border: 0px

#end-of-page
  clear: both

#show
  h4#tags
    @include dotted-line
    padding-top: 1em
    height: 2em
  .note
    .admonition-title
      font-weight: bold
      font-style: italic
    margin: 0 2em
  #share
    margin-top: 1em
    width: 100%
    div
      vertical-align: top
    .tweet
      margin-right: 2em
      float: left
  ul
    margin-top: 1em
    list-style: disc outside
    padding-left: 2em
    li
      padding-left: 1em

#recent
  p.article-link
    margin-top: 0
  h1
    @include dotted-line
    height: 1.1em
  h3
    @include dotted-line
    height: 1.6em
  .rss
    float: right
    a
      img
        opacity: 0.5
        filter: alpha(opacity=50)
    a:hover
      img
        opacity: 1.0
        filter: alpha(opacity=100)

#tag
  p.article-link
    margin-top: 0
  h1
    @include dotted-line
    height: 1.1em
  h3
    @include dotted-line
    height: 1.6em
  .rss
    float: right
    a
      img
        opacity: 0.5
        filter: alpha(opacity=50)
    a:hover
      img
        opacity: 1.0
        filter: alpha(opacity=100)

#archive
  h1
    @include dotted-line
    height: 1.1em
  table
    margin-top: 1em
  td
    padding-bottom: 1em
  td.year
    vertical-align: top
    font-size: 1.5em
    width: 80px
  td.month-day
    vertical-align: top
    font-size: 1.25em
    font-style: italic
    width: 90px
  td.title
    vertical-align: top
    h2
      margin-top: 0

#facebook-love
  display: none

#private
  ul.errorlist
    margin-top: 1em
    margin-bottom: -1.2em
    color: $delicate-red
    font-size: .8em

// Anomalies

#anomalies
  overflow: hidden
  #info
    ol
      list-style-type: decimal
      list-style-position: inside

  #coverart
    float: right
    max-width: 1400px
    width: 70%
    margin-left: 1em

// CV

.contact-info
  float: right
  position: relative
  top: -3.5em
  right: 0
  p.download-as-pdf
    margin-top: 0
    text-align: right

h2.dotted
  @include dotted-line
  height: 1.4em

ul.curriculum
  margin-top: 1em
  list-style: disc
  li
    margin-left: 2em
    padding-left: 1em

table.curriculum
  margin-top: 1em
  clear: both
  td
    vertical-align: top
  td.type
    width: 180px
  td.main
    text-align: justify
    h3
      margin-top: 0
  td.right
    text-align: center

@media print
  html
    background-color: white
    font-size: 10pt
  #header
    #title
      color: black
    #slogan
      display: none
  #container
    .contact-info
      ul
        list-style-type: none
      p.download-as-pdf
        display: none
  #menu
    display: none
  #container
    background-color: #f0f0f0
    #share
      display: none
    #next-prev
      display: none
  p.empty
    height: 2pt
    font-size: 1pt
  #footer
    display: none
